.RuneMasteryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .RuneMasteryContainer {
    flex-direction: column;
  }
}
